.btn-primary {
    width: 120px;
    margin-top: -16px;
}

.text-top
{
    margin-top: -56px;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 74.5%;
    h2 {
        color: #6DCF97;
        font-size: 24px;
    }
}

table {
    width: 770px;
    margin-top: 33px;
}