.text-top
{
    margin-top: -57px;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 74.5%;
    h2 {
        color: #6DCF97;
        font-size: 24px;
    }
}

.btn-primary {
    width: 100px;
    margin-top: -16px;
}

.titulo-perfil {
    color: #757575;
    margin-top: 23px;
    font-weight: 400;
}

.btn-primary2 {
    background-color: #6DCF97;
    color: white;
    width: 155px;
    margin-top: 16px;
}