<div class="esp-total">
    <nav class="menu-nav">
        <div class="div home">
            <a routerLink="/"><i class="material-icons">home</i><h6>Home</h6></a>
        </div>
        <div class="div clientes">
            <a routerLink="/clientes"><i class="material-icons">group</i><h6>Clientes</h6></a>
        </div>
        <div class="div modulo">
            <a routerLink="/modulos"><i class="material-icons">apps</i><h6>Módulos</h6></a>
        </div>
        <div class="div cadastro-cli-mod">
            <a routerLink="/cadastro-cli-mod"><i class="material-icons">add_circle</i><h6>Cadastro</h6></a>
        </div>
        <div class="div perfil">
            <a routerLink="/perfil"><i class="material-icons">person</i><h6>Perfil</h6></a>
        </div>
    </nav>
    <router-outlet></router-outlet>
</div>
